@import url('./fonts.css');
@import 'tailwindcss';

@layer base {
  html,
  body {
    @apply w-full h-screen p-0 m-0;
    font-family: 'NanumSquareRound', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fafbfc;
  }

  svg {
    display: inline-block;
  }

  #root {
    @apply w-[480px];
  }
  .font-cookie {
    font-family: 'CookieRunBlack', sans-serif !important;
  }
}

@layer utilities {
  /* Head */
  .head-26-eb {
    font-size: 26px;
    letter-spacing: -0.01em;
    font-weight: 800;
  }
  /* 퀴즈 타이틀 용 */
  .head-24-eb {
    font-size: 24px;
    letter-spacing: -0.01em;
    font-weight: 800;
    line-height: 38px;
  }
  .head-20-eb {
    font-size: 20px;
    letter-spacing: -0.01em;
    font-weight: 800;
  }

  /* Body */
  .body-16-eb {
    font-size: 16px;
    letter-spacing: -0.01em;
    font-weight: 800;
  }
  .body-16-b {
    font-size: 16px;
    letter-spacing: -0.01em;
    font-weight: 700;
  }
  .body-16-r {
    font-size: 16px;
    letter-spacing: -0.01em;
    font-weight: 400;
    line-height: 24px;
  }
  .body-14-eb {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.01em;
    font-weight: 800;
  }
  .body-14-b {
    font-size: 14px;
    letter-spacing: -0.01em;
    font-weight: 700;
  }
  .body-14-r {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.01em;
    font-weight: 400;
  }
  .body-12-eb {
    font-size: 12px;
    letter-spacing: -0.12px;
    font-weight: 800;
  }
  .body-12-r {
    font-size: 12px;
    letter-spacing: -0.01em;
    font-weight: 400;
  }

  /* Caption */
  .caption-10-b {
    font-size: 10px;
    letter-spacing: -0.01em;
    font-weight: 700;
  }
  .caption-10-eb {
    font-size: 10px;
    letter-spacing: -0.01em;
    font-weight: 800;
  }
}

@theme {
  /* Background Colors */
  --color-bg-primary-blue: #5fc6f0;
  --color-bg-primary-lightblue: #ebf9ff;
  --color-bg-primary-clearblue: #2c6eb5;
  --color-bg-primary-white: #ffffff;
  --color-bg-primary-gray: #dce3e8;
  --color-bg-secondary-gray: #e9eef2;
  --color-bg-primary-lightgray: #f5f7fa;
  --color-bg-tertiary-pink: #ffe1ea;
  --color-bg-tertiary-blue: #d6f3ff;
  --color-bg-tertiary-gray: #fafbfc;
  --color-bg-gray-weak: #d9d9d9;
  --color-bg-primary-yellow: #fee500;
  --color-bg-primary-tangerine: #ffb67a;

  /* Foreground Colors (icon, text) */
  --color-fg-verystrong: #000000;
  --color-fg-strong: #5e6975;

  --color-fg-accent-blue-strong: #2593bd;
  --color-fg-accent-blue-weak: #3dafd9;
  --color-fg-accent-pink-strong: #e04d73;
  --color-fg-accent-pink-weak: #f05f83;
  --color-fg-accent-toast: #4c98f5;
  --color-fg-veryweak: #f5f7fa;
  --color-fg-medium: #bac3cb;
  --color-fg-secondary: #fafbfc;
  --color-fg-secondary-strong: #ffffff;
  --color-fg-primary: #181b1f;
  --color-fg-primary-blue: #5fc6f0;
  --color-fg-secondary-blue: #00a0e9;
  --color-fg-weak: #ced6dd;

  --color-fg-system-success: #199b6a;
  --color-fg-system-error: #f2545b;
  --color-fg-clear-blue: #4c98f5;
  --color-fg-accent-red: #de473d;

  --color-fg-gray-strong: #22272d;
  --color-fg-gray-weak: #949393;
  --color-fg-gray-weak-weak: #bbbbbb;

  /* Border */
  --color-border-blue: #5fc6f0;
  --color-border-lightblue: #b4e4f9;
  --color-border-blue-medium: #3dafd9;
  --color-border-pink: #f05f83;
  --color-border-gray: #9ca6af;
  --color-border-lightgray: #dce3e8;
  --color-border-medium: #bac3cb;
  --color-border-gray-weak: #ced6dd;

  /* Shadow */
  --color-shadow-gray: #9ca6af;
  --color-shadow-blue-weak: #5fc6f0;
  --color-shadow-blue-medium: #3dafd9;
  --color-shadow-blue-strong: #2593bd;
  --color-shadow-pink-weak: #f05f83;
  --color-shadow-pink-strong: #962b4b;

  /*Timer*/
  --color-tangerine-strong: #ffb67a;
  --color-tangerine-weak: #ffd0ae;

  /* Font Sizes */
  --font-size-26: 26px;
  --font-size-20: 20px;
  --font-size-16: 16px;
  --font-size-14: 14px;
  --font-size-12: 12px;
  --font-size-10: 10px;

  /* Line Heights */
  --line-height-30: 30px;
  --line-height-23: 23px;
  --line-height-22: 22px;
  --line-height-16: 16px;
  --line-height-14: 14px;
  --line-height-12: 12px;

  /* Letter Spacing */
  --letter-spacing-tight: -0.01em;

  /* Font Weight */
  --font-weight-extrabold: 800;
  --font-weight-bold: 700;
  --font-weight-regular: 400;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(10px);
  }
}

.animate-fade-in {
  animation: fade-in 0.3s ease-out forwards;
}

.animate-fade-out {
  animation: fade-out 0.3s ease-out forwards;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
